src/__pycache__/*
config/__pycache__/*
src/model/__pycache__/*
mip.lp
logs/apns/*
.DS_Store
notebooks/.ipynb_checkpoints/*
src/.ipynb_checkpoints/*
*.lp
notebooks/*.lp
results/*
results_s/*
results_m/*
results_complete/*
cache/*
*.pyc
*/*.pyc
*/*/*.pyc
.venv
